

    <%= form_for [@user, @chooseit] do |f| %>
      <% if @chooseit.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@chooseit.errors.count, "error") %> prohibited this chooseit from being saved:</h2>

          <ul>
            <% @chooseit.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="ui right aligned grid">
      <div class="left floated right aligned eight wide column">

          <h2><%= f.label "Genre" %></h2><br>

              <%= f.select :genres, options_for_select(Chooseit::GENRES) %>
          </div>
          <div class="right floated left aligned eight wide column">
          <h2><%= f.label :title, "ChooseIT Title",  class: 'control-label' %></h2><br>

            <%= f.text_area :title, :placeholder => "This is YOUR ChooseIT. Ask whatever you want!", class: 'form-control'%>
          </div><br>
        </div>

      <div class="ui right aligned grid">

      <%= f.fields_for  :chooseit_choices do |choice_fields| %>
      <div class="center aligned two column row">
        <div class="left floating right aligned six wide column">

          <%= choice_fields.text_area :description, :placeholder => "Option" %>
          </div>
          <div class="right floating left aligned six wide column">
          <%= choice_fields.file_field :image %>
          </div>
      </div>
      <% end %>
      </div>

      <div class="ui center aligned two column grid">
        <div class="column">
          <%= f.text_area :emails, :placeholder => "Who do you want to email this to?"%>
        </div>
      </div>


      <div class="ui center aligned two column grid">
        <div class="column">
          <%= f.submit 'Submit' %>
        </div>
      </div>
    <% end %>
 <div class="ui segment" id="background">
 </div>