<div class="border-chooseits-div">
    <%= form_for([@user, @chooseit]) do |f| %>

      <% if @chooseit.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@chooseit.errors.count, "error") %> prohibited this chooseit from being saved:</h2>

          <ul>
          <% @chooseit.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
          <div class="form-group">
            <%= f.label "Genre", class: 'col-sm-2 control-label' %>
            <div class="col-sm-4"><br>
                <%= f.select :genres, options_for_select(Chooseit::GENRES) %>
            </div><br><br>

            <%= f.label :title, "What is this ChooseIT about?",  class: 'col-sm-2 control-label' %>
          <div class="col-sm-4"><br>
            <%= f.text_area :title, :placeholder => "This is YOUR ChooseIT. Ask whatever you want!", class: 'form-control'%>
          </div>
            <br><br>
          </div>
        </div>

      <div class="form-actions">
        <%= f.submit 'Submit', class: 'btn btn-default' %>
      </div><br>
    <% end %>
  </div>
</div>

