
  <div class="ui centered aligned grid">
    <div class="center aligned sixteen wide column">
      <div class="row"></div>
      <div class="row"></div>
      <h1><%= @chooseit.title.upcase %></h1>
<!--
      <h5><%= link_to "https://choosychooseit.com/chooseits/#{@chooseit.slug}", chooseit_path(@chooseit) %></h5> -->

    </div>
    <div class="floated right aligned six wide column">
      <h2>Option 1</h2>
    </div>
    <div class="floated center aligned four wide column">
      <h4><%= @chooseit.genres %></h4>
    </div>

    <div class="floated left aligned six wide column">
       <h2>Option 2</h2>
    </div>
  </div>

    <% if @chooseit_choice_1.image != nil || @chooseit_choice_2.image != nil %>
  <div class="ui three column stackable grid">
      <div class="left floated right aligned six wide column">
          <%= link_to image_tag(@chooseit_choice_1.image.thumb('250x250#').url, class: 'img-thumbnail'), @chooseit_choice_1.image.remote_url, target: '_blank' %>
      </div>

      <div class="right floated left aligned six wide column">
         <%= link_to image_tag(@chooseit_choice_2.image.thumb('250x250#').url, class: 'img-thumbnail'), @chooseit_choice_2.image.remote_url, target: '_blank' %>
      </div>

  </div>
 <% end %>

  <div class="ui three column grid">

    <div class="left floated right aligned six wide column">
      <h1><%= @chooseit_choice_1.description %></h1>
    </div>
    <% if current_or_guest_user.id == @chooseit.user_id %>

        <div class="floated center aligned four wide column">

         <h4><%= link_to 'Edit', edit_chooseit_path(@chooseit) %> / <%= link_to 'Delete', @chooseit, method: "delete", :data => {:confirm => 'Are you sure?'} %></h4>

      </div>
    <% end %>

    <div class="right floated left aligned six wide column">
       <h1><%= @chooseit_choice_2.description %></h1>
    </div>
  </div>

    <% unless @chooseit.votes_totals < 2 %>
    <% if current_or_guest_user.voted_for?(@chooseit) %>
    <%= pie_chart(@chooseit.response_hash) %><br>
    <% end %>
    <% end %>
      <div class="ui center aligned grid">
      <div class="sixteen wide column">

        <p><b>Total votes: <%= @chooseit.votes_totals %></b></p>
      </div>
    </div>

  <% unless current_or_guest_user.voted_for?(@chooseit) %>

      <%= render 'chooseit_responses/chooseit_response_form' %>

  <% end %>


<% if current_or_guest_user.voted_for?(@chooseit) %>
<div class="ui segment" id="background">
  <div class="ui centered grid">
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="eight wide column">
      <div class="ui center aligned header"><br>


          <a href=<%= new_chooseit_path %>><button class="ui huge giant blue button">Create a ChooseIT</button></a>
      </div>
    </div>
  </div>
  </div>
    <% if current_or_guest_user.id != @chooseit.user_id %>
          <div class="ui center aligned blue header">
          <h2>You've already given your solicited opinion on this one!</h2>
          <h2>How about soliciting some of your own?  Go ahead...</h2></div><br><br><br><br>
    <% end %>

<% end %>
<br><br><br><br><br><br>